.skills {
  display: flex;
  column-gap: 10%;
  justify-content: center;

  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.skills__list {
}
.skills__item {
  list-style-type: disc;
  &::marker {
    color: var(--accent);
    width: 10px;
  }
}
.skills__item + .skills__item {
  margin-top: 10px;
}
